<main>
    <h1>About Me</h1>
    <img src="/images/myphoto.JPG" alt="A photo of Saajith Gnanakanthan" class="profile-photo">
    <p>I am a second year student at Ontario Tech who is passionate about technology, coding, and entrepreneurship. Welcome to my portfolio, where you can find out more about me and my projects.</p>
    <video controls poster="/images/poster.jpg" class="intro-video">
        <source src="/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</main>
