<div class="text-center">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">Hello, I'm Saajith Gnanakanthan, a passionate developer and tech enthusiast. This is my personal portfolio where you can learn more about me and explore my projects.</p>
    <a href="/about" class="btn btn-primary mt-3">Learn More About Me</a>
</div>
