body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 60px;
}

section {
  padding: 50px;
  min-height: 100vh;
}

#home {
  background-color: #f2f2f2;
}

#about {
  background-color: #e0f7fa;
}

#projects {
  background-color: #ffe0b2;
}

#contact {
  background-color: #e1bee7;
}

.profile-photo {
  width: 200px; 
  height: 250px; 
  border-radius: 0; 
  display: block;
  margin: 0 auto; 
}


footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}

button, input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #555;
}
